@model IEnumerable<Course>
@{
    ViewBag.Title = "Course List";
    ViewBag.Active = "Display";
}

<div class="title-header">
    <h2>List of Courses</h2>
</div>
<div class="content-container">
    <form class="form-inline">
        <input class="form-control mr-sm-2 mb-3" type="search" placeholder="Search">
        <button class="btn btn-info mb-3">Search</button>
    </form>
   
    <table class="table mb-3 content-table">
        <thead>
            <tr>
                <th scope="col">COURSE NAME</th>
                <th scope="col">COURSE CODE</th>
                <th scope="col">SEASON</th>
                <th scope="col">FACULTY</th>
                <th scope="col" width="50">Students</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Course c in Model)
            {
                <tr class="content-row">
                    <td class="content-col">@c.Name</td>
                    <td class="content-col">@c.Code</td>
                    <td class="content-col">@c.Season</td>
                    <td class="content-col">@c.Faculty</td>
                    <td align="center"><i class="fa fa-chevron-down"></i></td>
                </tr>
                @if (c.Students.Count > 0)
                {
                    <tr class="courseId_@c.Code hidden-row">
                        <th scope="col">Student #</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col" colspan="2">Semester</th>
                    </tr>
                }
                else
                {
                    <tr align="center" class="courseId_@c.Code hidden-row">
                        <th scope="col" colspan="5">No Students in Course</th>
                    </tr>
                }
                foreach (Student s in c.Students)
                {
                    <tr class="courseId_@c.Code hidden-row">
                        <td>@s.StudentNumber</td>
                        <td>@s.FirstName</td>
                        <td>@s.LastName</td>
                        <td>@s.Semester</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <a class="btn btn-primary mb-3" id="editButton" asp-action="Edit">Edit</a>
    <a class="btn btn-primary mb-3 ml-3" id="manageButton" asp-action="Manage">Add Students</a>
</div>

<script>
    var editHref = $('#editButton').attr('href');
    var manageHref = $('#manageButton').attr('href');
    var href;
    var isHidden = true;
    //deals with clicks on course rows (highlighting selected rows)
    $('td.content-col').click(function () {
        //removes previously highlighted row
        if ($(this).parent().hasClass('selected')) {
            $(this).parent().removeClass('selected');
            $('#editButton').attr('href', editHref);
            $('#manageButton').attr('href', manageHref);
        } else {
            $('tr.content-row').removeClass('selected');
            $(this).parent().addClass('selected');
            // configures edit button href to course code of selected row
            href = editHref + "/" + $(this).parent().children(':nth-child(2)').text();
            $('#editButton').attr('href', href);
            // configures add student button href to course code of selected row
            href = manageHref + "/" + $(this).parent().children(':nth-child(2)').text();
            $('#manageButton').attr('href', href);
        }
    });
    //toggles list of students for a course row
    $('.fa-chevron-down').click(function () {
        if (isHidden) {
            $(this).addClass('fa-chevron-up');
            $(this).removeClass('fa-chevron-down');
            var classCode = $(this).parent().siblings().eq(1).text();
            $('.courseId_' + classCode).removeClass('hidden-row');
            isHidden = false;
        } else {
            $(this).addClass('fa-chevron-down');
            $(this).removeClass('fa-chevron-up');
            var classCode = $(this).parent().siblings().eq(1).text();
            $('.courseId_' + classCode).addClass('hidden-row');
            isHidden = true;
        }
    });
</script>